<!-- app/views/layouts/admin/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Administrate</title>
  <!-- Include any stylesheets or meta tags required by your application -->
</head>
<body>
  <%= render "admin/application/navigation" %>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>