<!-- app/views/admin/application/_navigation.html.erb -->
<nav class="administrate-navigation">
  <ul>
    <li><%= link_to "Dashboard", administrate_root_path %></li>
    <li><%= link_to "Events", admin_events_path %></li>
    <li><%= link_to "Attendances", admin_attendances_path %></li>
    <!-- Ajoute d'autres liens si nécessaire -->
  </ul>
</nav>